<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

    <div class="well mbxl tr fsl f-ge">
        {{question}}
    </div>
    <div class="col-xs-6">
      <div class="q-disagree">
        <div class="circle-num">
          {{qData.num_disagrees}}
        </div>
        <div class="block">ضد</div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="q-agree">
        <div class="circle-num">
          {{qData.num_agrees}}
        </div>
        <div class="block">مع</div>
      </div>

    </div>

    <div class="mtxl">&nbsp;</div>
    <div class="row" ng-repeat="comment in qData.comments">

      <div class="col-sm-10">
        <div class="panel panel-default tr">
          <div class="panel-body bg-{{comment.response}}">
            {{comment.comment}}
          </div>
        </div>
      </div>
      <div class="col-sm-2">
          {{comment.name}}
      </div>
    </div>

    <div class="row" ng-if="submitted" >


      <div class="col-sm-10">
        <div class="panel panel-default ">
          <div class="panel-body bg-{{commentdecisionNew}}">
            {{commentBodyNew}}
          </div>
        </div>
      </div>
      <div class="col-sm-2">
          {{commentUserNew}}
      </div>
    </div>

    <div class="row"  ng-show="!submitted">
      <div class="col-sm-10">
        <div class="panel panel-default ">
          <div class="">
            <textarea class="form-control" ng-model="commentBody"></textarea>
          </div>
        </div>
        <button class="btn btn-primary" ng-click="submitComment(qData.uid)">أرسل</button>
      </div>
      <div class="col-sm-2">
          <input type="text" placeholder="اسمك" class="form-control" ng-model="commentUser">
      </div>
    </div>

    


  <div class="footer">
    <p></p>
  </div>

</div>
