<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

    <div class="q-bg" style="background: url(../assets/images/q{{param_qid}}.jpg) top center no-repeat;">
    </div>
    <div class="well mbxl qestion-box">
      <div class="tr fsl f-ge main-qestion">
        {{question}}
      </div>
    
      <form role="form" name="form" novalidate>
        <div class="row tr f-ge" ng-repeat="(key, value) in sub_questions">
          <label class="control-label question">{{value}} </label>
          <div class="col-sm-12">
              <div class="checkbox answers">
                  <label>
                      <input type="radio" class="circle-check" name="sub_{{key}}" ng-model="formData.married_" value="1" required>  نعم
                  </label>
                  <label>
                      <input type="radio" class="circle-check" name="sub_{{key}}" ng-model="formData.married_" value="0" required>  لا
                  </label>
              </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="center-block">
          <button class="btn btn-lg btn-danger mal" ng-click="submitForm(0)">ضد</button>
          <button class="btn btn-lg btn-success mal" ng-click="submitForm(1)"> مع </button>
        </div>
      </div>
    </form>
  </div>

  <div class="footer">
    <p></p>
  </div>

</div>
