.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
// injector
// endinjector
.f-ge {
	font-family: ge_sslight;
}


.q-agree{
	background: #4cae4c;
	color: #fff;
	font-size: 20px;
	display: block;
	width: 100%;
	height: 40px;
	font-weight: bold;
	padding: 5px;
	text-align: right;
	.circle-num {
		border-radius: 50%;
		height: 80px;
		width: 80px;
		background: #fff;
		border: 2px solid #4cae4c;
		float: right;
		margin: -25px -25px 0px 10px;
		color: #000;
		font-size: 30px;
		padding: 18px 0px;
		text-align: center;
	}
}

.q-disagree {
	background: #d9534f;
	color: #fff;
	font-size: 20px;
	display: block;
	width: 100%;
	height: 40px;
	font-weight: bold;
	padding: 5px;
	text-align: left;
	.circle-num {
		border-radius: 50%;
		height: 80px;
		width: 80px;
		background: #fff;
		border: 2px solid #d9534f;
		float: left;
		margin: -25px 10px 0px -25px;
		color: #000;
		font-size: 30px;
		padding: 18px 0px;
		text-align: center;
	}
}


.bg-true, .bg-1 {
	background-color: #dff0d8;
}

.bg-false, .bg-0 {
	background-color: #f2dede;
}

.radio label, .checkbox label {
	padding: 0;
	position: relative;
	color: #727272;
	margin-left: 15px;
	font-size: 16px;
	min-height: 42px;
	}
.circle-check {
	position: relative;
	-webkit-appearance: none;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	margin: 8px;
	border: 2px solid #999999;
	margin-top: -4px;
	right: 0;
	cursor: pointer;
	outline: none;
}
.disabled .circle-check{
		background: #bbb url('../assets/images/tick-sprite.png')  26px 24px   !important;
}
.disabled .circle-check:checked:after{
		background: #bbb url('../assets/images/tick-sprite.png')  26px 24px   !important;
		border: 2px solid #bbb;
}
.circle-check:checked:after {
	position: absolute;
	left: -2px;
	top: -2px;
	content: "";
	background: #20c164 url('../assets/images/tick-sprite.png');
	background-position: -23px;
	width: 30px;
	height: 30px;
	border: 2px solid #20c164;
	border-radius: 100px;
}


.question {
 	margin-top: 20px !important;
 	margin-right: 20px !important;
 	display: block;
 	font-weight: bold;
 }
 .question-single {
 	display: block;
 	padding-top: 20px !important;
 }
 .answers {
 	label{
 		display: inline-block;

 	}
 }
.q-bg {
	background-size: cover;
	width: 100%;
	height: 400px;
 }

.qestion-box{
	margin: -200px auto 0px auto;	
	border: none;
	width: 90%;
	background: rgba(255,255,255,0.9);
	z-index: 999;
}
.main-qestion {
	font-size: 32px;
}

.center-block {
	margin: 0 auto;
	text-align: center;
}

.btn {
	box-shadow: 0px 0px 2px #000;
	min-width: 100px;
}

.form-control {
	text-align: right;
}